.container {
    height: 100%;
}

.box {
    background: #fff;
    border-radius: 4px;
    padding: 24px 10.5px;
    border: 1px solid #ccc;
}

@media screen and (min-width: 1024px) {
    .container {
        height: 100% !important;
        max-width: 100%;
    }
}